$navBackground: #5c6bc0;
$activeNav: #3f51b5;

$valid: #26a69a;
$invalid: #ef5350;

$placeholder: #bdbdbd;

$addButton: #26a69a;
$editButton: #0288d1;
$submitButton: #3949ab;
$resetButton: #ff7043;
$cancelButton: #ef5350;